<mat-card class="temp mat-elevation-z3" *ngIf="tempCard">
  <mat-card-content>
    <!--Show date in format of (h:mm a). eg => 5:30AM-->
    <h1 class="mat-h2 no-m">{{tempCard.date | date: 'shortTime'}}</h1>
    <div class="temp__details" fxLayout="row" fxLayoutAlign="space-between flex-end">
      <div class="temp__min-max">
        <!--&#8451; represents the celsius symbol of temperature-->
        <h2 class="mat-body-2">{{tempCard.temp.temp_max}}&#8451;</h2>
        <h2 class="mat-body-1">{{tempCard.temp.temp_min}}&#8451;</h2>
      </div>
      <div class="temp__weather">
        <!--Show custom weather icon -->
        <img class="temp__icon" [src]="'../../' + weatherIconPath + tempCard.icon + '.png'" [alt]="tempCard.temp.icon">
      </div>
    </div>
  </mat-card-content>
</mat-card>