@import '../../../variables';

:host {
    display: block;
    width: 100%;
    padding: $spacing-10;
    height: 150px;
}

.temp {
    min-height: 100px;
    color: $primary;

    &__icon {
        height: 50px;
        width: 50px;
    }
}
