<div class="weather" fxLayout="row" fxLayoutAlign="center center" fxLayoutAlign.lt-sm="center stretch" fxLayout.lt-md="column">
  <bb-weather-card fxFlex="auto" ngClass.lt-lg="weather__full" ngClass.lt-sm="weather__md" *ngFor="let weatherCard of weatherCards" [weather]="weatherCard" (weatherCardClick)="navigateToForcastDetails($event)"></bb-weather-card>
</div>