@import './variables';

@mixin flex-row {
    display: flex;
    flex-direction: row;
}

@mixin flex-col {
    display: flex;
    flex-direction: column
}

@mixin flex-center {
    justify-content: center;
    align-items: center;
}

@mixin center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin loading {
    position: relative;
    background-color: $light-gray;
    overflow: hidden;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        transform: translate(-100%);
        background-color: $black;
        animation: slide 2s infinite;
        opacity: 0.02;
    }
}