@import './variables';
/* You can add global styles to this file, and also import other style files */
*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}


html, body { height: 100vh;width: 100%; }
body {
    font-size: 62.5%;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    box-sizing: border-box;
    background-color: $bg-body;
}

// Utility methods
.no-m {
    margin: 0 !important;
}

.no-p {
    padding: 0 !important;
}

.notification {
    &__title {
        margin-bottom: 0 !important;
    }

}

.notification-error {
    background-color: $danger !important;
}

.notification-success {
    background-color: $success !important;
}

.notification-warning {
    background-color: $warning !important;
}
