$primary: (
    50 : #e1e3e5,
    100 : #b3b9be,
    200 : #808b93,
    300 : #4d5c68,
    400 : #273947,
    500 : #011627,
    600 : #011323,
    700 : #01101d,
    800 : #010c17,
    900 : #00060e,
    A100 : #517aff,
    A200 : #1e53ff,
    A400 : #0037ea,
    A700 : #0031d0,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #ffffff,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$accent: (
    50 : #ffe3ea,
    100 : #ffb9cc,
    200 : #ff8baa,
    300 : #ff5c87,
    400 : #ff396e,
    500 : #ff1654,
    600 : #ff134d,
    700 : #ff1043,
    800 : #ff0c3a,
    900 : #ff0629,
    A100 : #ffffff,
    A200 : #fff3f4,
    A400 : #ffc0c7,
    A700 : #ffa7b0,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);



@import '~@angular/material/theming';
@include mat-core();

$primary: mat-palette($primary);
$accent:  mat-palette($accent);


// Create the theme object (a Sass map containing all of the palettes).
$candy-app-theme: mat-light-theme($primary, $accent);

// Include theme styles for core and each component
@include angular-material-theme($candy-app-theme);