$primary: #011627;
$accent: #ff1654;
$danger: #f44336;
$success: #68CD86;
$warning: #ffb648;
$bg-body: #efeff0;
$light-gray: #f1f0ef;
$black: #000;
$white: #fff;
$page-layout-padding: 25px;
$card-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);

$spacing-5: 5px;
$spacing-10: 10px;
$spacing-15: 15px;
$spacing-20: 20px;
