@import '../../../variables';
@import '../../../mixin';

:host {
    display: block;
    min-width: 15%;
    max-width: 30%;
    margin: $spacing-15;
}

:host-context(.weather__full, .weather__md) {
    max-width: 100%;
}


.card {
    position: relative;
    width: 100%;
    margin: $spacing-15;
    min-height: 280px;
    padding: $spacing-15;
    cursor: pointer;
    transition: all .1s linear;

    &:hover {
        box-shadow: $card-shadow;
        transform: scale(1.1);
    }

    &__content {
        text-align: center;
        text-transform: uppercase;
    }
    
    &__icon {
        height: 128px;
        width: 128px;
        margin: auto;
    }

    &__loader {
        @include center;
        width: 30%;
        margin: auto;
    }

    &__error {
        @include center;
        width: 100%;
        text-align: center;
    }

    &__wind {
        text-transform: lowercase;
    }

    &__city {
        margin-bottom: $spacing-5;
    }

    &__w-description {
        text-transform: capitalize;
    }
}

.loader {

    &__h2 {
        margin-top: $spacing-15;
    }

    &__caption {
        display: block;
    }
}

.loading {
    @include loading;

}

@keyframes slide {
    100% {
        transform: translate(100%);
    }
}

:host::ng-deep .card {
    .mat-card-header-text {
        margin: 0;
    }
}