<!--Weather Card start -->
<mat-card class="card mat-elevation-z9 no-m" *ngIf="weather" (click)="onCardClick(weather)">
  <ng-container *ngIf="!weather.loading; else loading">
    <ng-container *ngIf="!weather.error; else errorTemplate">
      <mat-card-header>
        <!--Show custom weather icon -->
        <img class="card__icon" [src]="'../../' + weatherIconPath + iconMapper[weather.icon] + '.png'"
          [alt]="iconMapper[weather.icon]">
      </mat-card-header>
      <mat-card-content>
        <div class="card__content">
          <h1 class="card__city mat-h2">{{weather.city.name}}</h1>
          <h2 class="mat-subheading-2 no-m">
            <!--&#8451; represents the celsius symbol of temperature-->
            {{weather.temp}}&#8451; | <span class="card__wind">{{weather.wind | lowercase}}</span>
          </h2>
          <h2 class="card__w-description mat-caption">{{weather.description}}</h2>
        </div>
      </mat-card-content>
    </ng-container>
  </ng-container>
</mat-card>
<!--Weather Card end -->

<!--Skeleton based loading template-->
<ng-template #loading>
  <div class="loader">
    <mat-card-header>
      <div class="card__icon loading"></div>
    </mat-card-header>
    <mat-card-content>
      <div class="card__content">
        <h1 class="mat-h2 loader__h2 loading">&nbsp;</h1>
        <span class="mat-caption loader__caption loading">&nbsp;</span>
      </div>
    </mat-card-content>
  </div>
</ng-template>

<!--Error template to show error on each card-->
<ng-template #errorTemplate>
  <div class="card__error">
    <mat-icon>error</mat-icon>
    <h1 class="mat-body-1">{{weather.error.statusText}}</h1>
  </div>
</ng-template>