<ng-container *ngIf="!showLoader else loader">
  <ng-container *ngIf="forcastData; else errorTemplate">
    <!--ngClass.xs - Adjust UI on small devices-->
    <div class="forcast" fxLayout="column" ngClass.xs="no-p">
      <div class="forcast__action" fxLayout="row" fxLayoutAlign="space-between start">
        <div class="forcast__city">
          <h2 class="forcast__city-name mat-display-1 no-m">{{city.name}}</h2>
          <h1 class="forcast__city-country mat-display-2 no-m">{{city.country}}</h1>
        </div>
        <div class="forcast__icon">
          <!--Show custom weather icon -->
          <img class="card__icon" [src]="'../../assets/' + iconMapper[currentWeather.weather[0].icon] + '.png'"
            [alt]="iconMapper[currentWeather.weather[0].icon]">
        </div>
      </div>
      <div class="forcast__details" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between">
        <div class="forcast__temp">
          <h2 class="mat-display-2 no-m forcast__current-temp">{{currentWeather.main.temp}}&#8451;</h2>
          <h2 class="forcast__description mat-display-1" ngClass.lt-md="no-m">
            {{currentWeather.weather[0].description | titlecase}}</h2>
        </div>
        <div class="forcast__weather" fxLayout="row" fxLayout.lt-sm="column" ngClass.lt-md="forcast__weather--col">
          <ng-container *ngFor="let currentWeatherParameter of currentWeatherParameters">
            <ng-container
              *ngTemplateOutlet="forcastInfo; context: {label: currentWeatherParameter.label, value: currentWeatherParameter.value, unit: currentWeatherParameter.unit}">
            </ng-container>
          </ng-container>
        </div>
      </div>
      <div class="forcast__cards" fxLayout="row" fxLayoutAlign="space-between" fxLayout.lt-md="column">
        <bb-temprature-card *ngFor="let forcast of forcastData | slice: 0:5"
          [tempCard]="{temp: forcast.main, date: forcast.dt_txt, icon: iconMapper[forcast.weather[0].icon]}">
        </bb-temprature-card>
      </div>
    </div>
  </ng-container>
</ng-container>

<!--Common template to render Atmospheric Pressure, Humidity and Pressure on UI -->
<ng-template #forcastInfo let-label="label" let-value="value" let-unit="unit">
  <div class="forcast__info" fxLayout="column" fxLayoutAlign="center stretch">
    <div class="forcast__label mat-h2 no-m">{{label}}</div>
    <div class="forcast__value mat-display-1" ngClass.lt-sm="no-m">{{value}}{{unit}}</div>
  </div>
</ng-template>

<!--Loader template-->
<ng-template #loader>
  <div class="loader" fxLayout="row" fxLayoutAlign="center center">
    <div>
      <bb-spinner diameter="50"></bb-spinner>
      <h2 class="mat-body-2">Loading...</h2>
    </div>
  </div>
</ng-template>

<!--Error template-->
<ng-template #errorTemplate>
  <bb-error message="Please try again later"></bb-error>
</ng-template>