@import '../../variables';
.forcast {
    padding: 0 5rem;

    &__action {
        width: 100%;
    }

    &__city-name {
        font-weight: 100;
        color: $primary;
    }

    &__details {
        padding-top: $spacing-20 * 2;
    }

    &__current-temp {
        color: $primary;
    }

    &__city-country {
        font-size: 2rem;
        font-weight: 500;
        color: $primary;
    }

    &__description {
        font-size: 1.5rem;
        font-weight: 100;
        color: $accent;

    }

    &__weather {
        
        &--col {
            padding-top: $spacing-20 * 2;
        }
    }

    &__info {
        &:not(:last-child) {
            padding-right: $spacing-15;
        }
    }

    &__label {
        color: $primary;
    }

    &__value {
        font-size: 1.5rem;
        font-weight: 100;
        color: $accent;
    }
}

.loader {
    height: 100%;

    h2 {
        margin-top: $spacing-10;
    }
}